<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Applied Jobs List</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link th:href="@{/frontend/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/frontend/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/frontend/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/frontend/css/style.css}" rel="stylesheet">
</head>

<body>
<nav th:replace="common/frontFragments :: navbar('')"></nav>
<div class="wrapper mt-5">
    <div class="d-flex justify-content-center">

        <div class="content col-9">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card strpied-tabled-with-hover">
                            <div class="card-header ">
                                <h4 class="card-title">Applied Job Lists</h4>
                            </div>

                            <div class="card-body table-full-width table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <tr class="text-dark">
                                        <th>No.</th>
                                        <th>Job Title</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${applications.empty}" class="mt-2 text-center">
                                        <td colspan="5" class="text-danger" style="font-weight:bolder">There is no applied list yet.</td>
                                    </tr>
                                    <th:block th:each="applicationJob,index : ${applications}">
                                        <tr>
                                            <td th:text="${index.index+1+(5*currentPage)}"></td>
                                            <td>[[${applicationJob.job.jobTitle}]]</td>

                                            <td>
                                                <span th:if="${applicationJob.status == T(com.java.jobportal.model.Status).PENDING}" class="btn btn-info px-2 py-0 rounded" >[[${applicationJob.status}]]</span>
                                                <span th:if="${applicationJob.status == T(com.java.jobportal.model.Status).APPROVED}" class="btn btn-primary px-2 py-0 rounded" >[[${applicationJob.status}]]</span>
                                                <span th:if="${applicationJob.status == T(com.java.jobportal.model.Status).REJECTED}" class="btn btn-danger px-2 py-0 rounded" >[[${applicationJob.status}]]</span>
                                            </td>
                                            <td class="text-end">
                                                <a class="btn btn-secondary me-2" th:href="@{'/jobs/jobDetail/'+${applicationJob.job.id}+'?page='+${currentPage}+'&apply=1'}">Detail</a>
                                                <a th:href="@{'/user/deleteAppliedJob/'+${applicationJob.id} + '?page=' + ${currentPage}}" th:classappend="${applicationJob.status == T(com.java.jobportal.model.Status).APPROVED ? 'disabled' : ''}" class="text-light mr-2 btn btn-danger shadow rounded">Cancel</a>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div th:if="${!applications.empty}">
                            <div class="d-flex justify-content-center mt-3">
                                <div class="pagination">

                        <span >
                            <a class="btn btn-info btn-sm py-2 px-3" th:classappend="${currentPage == 0} ? 'disabled'" th:href="@{'/user/appliedJob?page='+0}"> <i class="fas fa-step-backward"></i> </a>
                        </span>
                        <span >
                            <a class="btn btn-info btn-sm py-2 px-3 ms-2" th:classappend="${currentPage == 0} ? 'disabled'" th:href="@{'/user/appliedJob?page='+${currentPage - 1}}"> <i class="fas fa-fast-backward"></i> </a>
                        </span>
                                    <span th:if="${currentPage - 2 > 1}">
                            <a href="#" class="btn btn-light btn-sm py-2 px-3 disabled">...</a>
                        </span>
                          <span th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 0, currentPage + 2 < (applications.empty ? 0 : totalPages) ? currentPage + 2 : (applications.empty ? 0 : totalPages))}">
                            <a th:href="@{'/user/appliedJob?page='+${page}}" class="btn btn-light btn-sm py-2 px-3 border-info mx-1" th:classappend="${page == currentPage} ? 'active'" th:text="${page + 1}"></a>
                        </span>
                        <span th:if="${currentPage + 2 < totalPages}">
                            <a href="#" class="btn btn-light btn-sm py-2 px-3 disabled">...</a>
                        </span>
                        <span >
                            <a class="btn btn-info btn-sm py-2 px-3 me-2" th:classappend="${currentPage == (applications.empty ? 0 : totalPages)} ? 'disabled'" th:href="@{'/user/appliedJob?page='+${currentPage + 1}}"> <i class="fas fa-fast-forward"></i> </a>
                        </span>

                         <span >
                            <a class="btn btn-info btn-sm py-2 px-3" th:classappend="${currentPage == (applications.empty ? 0 : totalPages)} ? 'disabled'" th:href="@{'/user/appliedJob?page='+${totalPages}}">  <i class="fas fa-step-forward"></i> </a>
                        </span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!  Core JS Files   -->

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/dashboard/js/light-bootstrap-dashboard.js?v=2.0.0 " type="text/javascript"></script>
<script src="/dashboard/js/demo.js"></script>

</html>
